<script src="{{ site.baseurl }}/assets/js/swagger-ui-bundle.js"> </script>
<script src="{{ site.baseurl }}/assets/js/swagger-ui-standalone-preset.js"> </script>
<script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "{{ site.baseurl }}/assets/apis/openapi.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })
      // End Swagger UI call region

      window.ui = ui
    }
  </script>
